#define CS_MUSIC_DEFAULT
    [music]
        name="siege_of_laurelmor.ogg"
    [/music]

    [music]
        name="vengeful.ogg"
        append=yes
    [/music]

    [music]
        name="northerners.ogg"
        append=yes
    [/music]

    [music]
        name="knalgan_theme.ogg"
        append=yes
    [/music]

    [music]
        name="the_dangerous_symphony.ogg"
        append=yes
    [/music]

    [music]
        name="suspense.ogg"
        append=yes
    [/music]

    [music]
        name="battle-epic.ogg"
        append=yes
    [/music]

    [music]
        name="casualties_of_war.ogg"
        append=yes
    [/music]
#enddef

#define CS_TUTORIAL_MESSAGE_DEFAULT
    [message]
        speaker=narrator
        message=_"Move your unit in the ""Upgrade"" tent, to upgrade your unit. You can upgrade your unit at the beginning of each wave.

If you accidentaly exit the shop, right click your unit and choose ""Enter shop..."".

You can choose unit next advancement during your turn by right-clicking it. It is possible to choose again later."
        image=wesnoth-icon.png
    [/message]
#enddef

#define CS_OBJECTIVES_DEFAULT
    [event]
        name=prestart

        [objectives]
            side=0

            [objective]
                description= _"Death of all enemies."
                condition=win
            [/objective]

            [objective]
                description= _"Death of all prisoner gladiators."
                condition=lose
            [/objective]
        [/objectives]
    [/event]
#enddef
